.direita {
    float: right;
    margin-top: 110px;
    margin-right: 240px;
    border-radius: 60px;
    border-color: #c4c4c4;
    border-width: 4px;
    border-style: solid;
}

.esquerda {
    float: right;
    margin-top: 50px;
    margin-right: 130px;
    border-radius: 60px;
    border-color: #c4c4c4;
    border-width: 4px;
    border-style: solid;
}

.contt {
    float: right;
    margin-top: 5px;
    margin-right: 200px;
    border-radius: 60px;
}

body {
    line-height: 1.3;
}

.bodyindex {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #B7C6D9;
}

.bodysobre {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #B7C6D9;
}

.bodyinform {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #B7C6D9;
}

.bodyhorar {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #B7C6D9;
}

.bodycontt {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: white;
}

header {
    position: relative;
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 25px;
    font-family: monospace;
}

.nomeC {
    color: white;
    font-family: monospace;
    font-size: 30px;
}

figure {
    text-align: center;
}

figcaption {
    text-align: center;
    color: rgb(54, 54, 54);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
    margin: 5px;
}

.biografia {
    color: white;
    width: 1180px;
    height: 350px;
    margin-top: 80px;
    margin-left: 40px;
    padding: 30px;
    background-color: #2E6F40;
    border: none;
    border-radius: 15px;
    font-size: 40px;
}

nav {
    margin-left: 50px;
    margin-top: 10px;
    font-size: 35px;
}

footer {
    margin-left: 900px;
    margin-top: 80px;
}

.botao {
    width: 150px;
    height: 20px;
    margin: 20px;
    padding: 30px;
    background-color: #8B0000;
    color: white;
    border: none;
    border-radius: 30px;
    text-align: center;
    font-size: 25px;
}

.sobre {
    position: relative;
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: monospace;
}

.informacoes {
    margin-left: 50px;
    margin: 20px;
    width: 1710px;
    height: 560px;
    color: white;
    font-size: 30px;
    font-family: monospace;
    background-color: #2E6F40;
    border-radius: 20px;
    padding: 6px;
}

.formac {
    position: relative;
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-family: monospace;
}

.formacoes {
    margin-top: 10px;
    padding: 3px;
    margin-left: 10px;
    width: 2325px;
    height: 630px;
    font-size: 25px;
    font-family: monospace;
    border-radius: 15px;
    background-color: #2E6F40;
}

.academic {
    color: white;
    font-size: 28px;
}

.complement {
    color: white;
    font-size: 28px;
}

.horarios {
    width: 2300px;
    height: 510px;
    margin-left: 35px;
    margin-top: 80px;
    font-size: 23px;
    font-family: monospace;
    background-color: white;
    background-position: center;
    background-color: #B7C6D9;
}

.contatos {
    margin-top: 30px;
    margin-left: 30px;
    width: 1100px;
    height: 635px;
    padding: 8px;
    font-family: monospace;
    font-size: 35px;
    color: white;
    background-color:#2E6F40;
    background-position: center;
    border-radius: 15px;
}

input {
    font-size: 25px;
}

select {
    font-size: 25px;
}

button {
    font-size: 25px;
}

td, th {
    border: 1px solid rgb(0, 0, 0);
    padding: 10px;
}

table {
  border-collapse: separate;
  border-spacing: 15px;
}